

.form-group-button{
    margin: 3px;
}
.form-group-button a{
    text-align: center;
    width: 210px;
    margin: 6px;
    font-size: 0.9em;
}
h4{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
label{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 2px;
}