@charset "utf-8";


div.main{
    background: #0264d6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;


}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
    margin:0px auto;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
   
    color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
  overflow-y: hidden;
}

#login a {
	color: white;
        opacity: 1;
	text-decoration: none;
}

#login a:hover {
	text-decoration: none;
        color: black;
}

input {
	border: none;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form{
	width: 250px;
}
#login, .logo{
    display:inline-block;
    width: 40%;
}
#login{
border-right:1px solid #fff;
  padding: 0px 22px;
  width: 59%;
}
.logo{
color:#fff;
font-size:50px;
padding-top: 40px;
margin-left: 20px;
}

#login form span.fa {
	background-color: #fff;
	border-radius: 3px 0px 0px 3px;
	color: #000;
	display: block;
	float: left;
	height: 50px;
    font-size:24px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
}
fieldset{
    padding:0;
    border:0;
    margin: 0;

}
#login form input[type="text"], input[type="password"] {
	background-color: #fff;
	border-radius: 0px 3px 3px 0px;
	color: #000;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 200px;
}
#login form input[type="email"]{
	background-color: #fff;
	border-radius: 0px 3px 3px 0px;
	color: #000;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 200px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  font-weight: bold;
  /* margin-bottom: 2em; */
  text-transform: uppercase;
  padding: 5px 10px;
  height: 30px;
}

#login form input[type="submit"]:hover {
	background-color: #31b0d5;
        color: black;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}
.middle {
  display: flex;
  width: 600px;
}
    
/*body{
        padding-top: 2%;
        padding-bottom: 6%; 
        background-color: white;
        background-image: linear-gradient(to top, transparent, rgba(0,0,0,.5));
        overflow: hidden;
    }
   
 Mobile Styles 
@media only screen and (max-width: 400px) {

}
Tablets Styles
@media only screen and (min-width: 401px) and (max-width: 960px) {
    
    #fundo{
        border-radius: 15000px 15000px 3000px 3000px;
        background-color: rgba(139,134,130,0.4);
        height: 390px;
        width: 440px;
        margin-top: 120px;;
    }
    .form-login{
        background-color: white;
        height: 450px;
        width: 380px;
        margin-top: -60px;
        border-radius: 10%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    #slogan{
        width: 300px;
        position: absolute;
        margin-left: 60px;
    }
    .form-login-heading{
        color: black;
        margin-left: 10%;
        margin-top: 35%;
        font-style: initial;
        font-size: x-large;
    }
    .form-login .form-control {
        position: relative;
        height: 10%;
        width: 89%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1%;
        font-size: 16px;
    }

    .form-login .form-control:focus {
        z-index: 2;
    }

    .form-login input[type="password"] {
        margin-left: 5%;
        margin-bottom: 1%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .form-login input[type="email"] {
        margin-left: 5%;
        margin-top: 1%;
        margin-bottom: 3%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    #botoes{
        width: 25%;
        margin: 2%
    }
    .text-center{
        margin-top: 5%;
    }
    #cliqueAqui{
        margin-left: 55%;
    }
}
Desktop Styles
@media only screen and (min-width: 961px) {

    .form-login{
        padding: 1%;
        background-color: white;
        height: 510px;
        width: 450px;
        border-radius: 10%;
    }
    .form-group{
        text-align: center;
    }
    #slogan{
        width: 300px;
    }
    .form-login-heading{
        color: black;
        font-style: initial;
        font-size: x-large;
        text-align: center;
    }
    .form-login .form-control {
        position: relative;
        height: 10%;
        width: 89%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1%;
        font-size: 16px;
    }

    .form-login .form-control:focus {
        z-index: 2;
    }

    .form-login input[type="password"] {
        margin-left: 5%;
        margin-bottom: 1%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .form-login input[type="email"] {
        margin-left: 5%;
        margin-top: 1%;
        margin-bottom: 3%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    #botoes{
        width: 25%;
        margin: 2%;
    }
    #cliqueAqui{
        float: right;
        margin: 4%;
    }
}*/